p {
    color: white;
}

input {
    display: flex;
    justify-items: center;
    background-color: white;
    width: 250px;
    height: 15px;
    margin: 15px;
    padding: 10px;
    border-radius: 5px;
}
