selectContainer {
  height: auto;
  flex-direction: row;
}

styledContent {
  max-width: 50px;
  margin: 10px;
}

StyledInput {
  width: 250px;
}

updatedContainer{
  flex-direction: row;
  flex-wrap: wrap;
}

galleryContent{
  max-width: 100px;
  margin: 10px;
}

userInput {
  height: 25px;
  width: 220px;
  margin: 25px;
  padding: 5px;
  font-size: 18px;
}
