/* StyledContainer {
  width: 100%;
  height: 100%;
} */

p {
  font-size: normal;
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.message {
  color: white;
}

.background {
  color: white;
}

.filter {
  color: white;
}

.fontSize {
  color: white;
}
